<html>
  <head>
  </head>
  <body>
    <h1>Edição do Cadastro de Usuário</h1>
    <form action="/formulario_bilhete_unico-bilheteunico-salvar" method="post">
      <input name="id" type="hidden" value=<%=usuario.ID %> >
      <label>Nome: </label>
      <input name="nome" type="text" value= <%=usuario.NOME %> ><br />
      <!-- <input name="senha" type="hidden" value=<%=usuario.senha %>><br /> -->
   
      <input type="submit" value="Alterar" />
    </form>
   </body>
</html>