<footer id="rodape">	
    <div class="grid_rodape">
        <div class="grid_rede_social">
            <h6>Redes Sociais</h6>  
            <a href="https://www.facebook.com/fateczl.oficial/">
            <img src="../assets/imagem/facebook_blue.png" alt="Icone facebook" class="icone_rede"></a>
            <a href="https://www.instagram.com/fateczl.oficial/">
            <img src="../assets/imagem/instagram_blue.png" alt="Icone instagram" class="icone_rede"></a>
            <a href="https://twitter.com/Fateczl_oficial">
            <img src="../assets/imagem/twitter_blue.png" class="icone_rede" alt="icone do twitter"></a>
            <a href="https://www.linkedin.com/company/faculdade-de-tecnologia-zona-leste-fatec-zl/">
            <img src="../assets/imagem/linkedin_blue.png" alt="Icone linkedin" class="icone_rede"></a>
            <a href="https://www.youtube.com/channel/UCe04vfzsQcRrGgfaWyx-GoA">
            <img src="../assets/imagem/youtube_blue.png" alt="Icone youtube" class="icone_rede"></a>
            
    </div>
        <div class="grid_nome_unidade"><h6>Faculdade de Tecnologia da Zona Leste</h6>
            <br><p>Endereço Avenida Águia de Haia, 2983. Cidade A.E. Carvalho, CEP 03694-000, São Paulo-SP.</p>
            <p>Telefone (11) 2049-2600 (11) 2026-0378 (11) 2026-1303 (11) 2041-2187</p> </div> 
    </div>
    <div class="grid_desenvolvido">
        <p>
            Desenvolvido por Ana Caroline, Gabriella de Moraes, Gustavo Vito, Raphael. <br>
            Projeto Interdisciplinar 2022&copy;.  
        </p>
    </div>
</footer>