<img class="logo" src="../assets/imagem/20_branco_update.png" alt="Imagem com a palavra Fatec Zona Leste em branco">
<h1>SECRETARIA FATEC ZONA LESTE</h1>
<img class="logo-sp" src="../assets/imagem/Logo_junto.png" alt="Imagem com a palavra São Paulo Governo do Estado em branco">